body{
font-family:tohama;
font-size:16px;
text-align:center;
}

/* welcome info and logout link*/
.welcomeinfo{
color:#1E90FF;

}

th{
color:#4D4D4D;
text-transform:capitalize;
}
td{
text-align:justify;
}
.datails_in_admin_ui{
color:#4D4D4D;
font-size:17px;
}
.datails_in_admin_ui li{
font-style:italic;
color:#4D4D4D;
}
#field_name{
text-align:justify;
text-transform:capitalize;
}
.title_of_site{
text-transform:capitalize;
font: 24px bold  tohama;
}
.head_of_site{
text-transform:capitalize;
font: 15px bold italic tohama;
color:#000000;
}
.detail_on_engineer_ui{
text-align:justify;
}
.detail_on_engineer_ui p{
color:#4D4D4D;
font-size:18px;
}
.detail_on_engineer_ui li{
font-style:italic;
color:#4D4D4D;
}





