{% extends "base.html" %}
{% load cms_tags menu_tags %}
{% block page_contents %}
<!-- information about current user and logout option -->	
<span class ='pull-right welcomeinfo'>{{welcome_info}},<i>&#160;{{user.admin_name}}.</i>&#160;&#160;<a href = "{% url 'log_out' user.id user.e_mail %}" >log out</a></span><hr><br>

<!--display options on admin userinterface-->

<table class = 'table' style = ''>
<thead>
<tr>
<!-- header in admin intaerface -->
<th>District water Engineer </th>
<th>COWSO chairperson</th>
<th>Reports</th>
</tr>
</thead>
<tbody>
<tr>
<!-- details about respectively header-->
<td >
District water Engineer is one involving to add static infromation.<br>	
To add successful register new District water Engineer in the system,<br>
<ul>
<li>click link below</li>
<li>fill all information on the from</li>
<li>click submit to register new user or cancel to reset</li>
</ul>
<a href = "{% url 'createEngineer' user.id %}">add engineer</a>
</td>
<td>
COWSO chairperson is one involving to add dynamic infromation.<br>	
To add successful register new District water Engineer in the system,
<ul>
<li>click link below</li>
<li>fill all information on the from</li>
<li>click submit to register new user or cancel to reset</li>
</ul>
<a href = "{% url 'createChairperson' user.id %}">add Cowso</a>
</td>
<td>still unser development. Please wait!!!</td>

</tr>
</tbody>

</table>

{% endblock %}
