{% extends "base.html" %}
{% load cms_tags menu_tags %}
{% block page_contents %}
<!-- information about current user and logout option -->	
<span class ='pull-right welcomeinfo'>{{welcome_info}},<i>&#160;{{user.admin_name}}.</i>&#160;&#160;<a href = "{% url 'log_out'  user.id user.e_mail user.password position %}" >log out</a></span><hr><br>

<!--display options on admin userinterface-->

<div class = 'row-fluid'>
<div class = 'span4 datails_in_admin_ui'>
<p>District water Engineer</p>
District water Engineer is one involving to add static infromation.<br>	
To add successful register new District water Engineer in the system :<br>
<ul>
<li>click link on "Register new District water Engineer" ,below</li>
<li>ill all information on the provided form</li>
<li>click "Register user" buttom to register new user or cancel to reset the form</li>
</ul>
<a href = "{% url 'createEngineer' user.id %}">Register new District water Engineer</a>
</div>	

<div class = 'span4 datails_in_admin_ui'>
<p>COWSO chairperson</p>
COWSO chairperson is one involving to add dynamic infromation.<br>	
To add successful register new District water Engineer in the system :<br>
<ul>
<li>click link on "Register new COWSO chairperson", below</li>
<li>fill all information on the provided form</li>
<li>click "Register user" buttom to register new user or "Cancel" to reset the form</li>
</ul>
<a href = "{% url 'createChairperson' user.id %}">Register new COWSO chairperson</a>
</div>	

<div class = 'span4 datails_in_admin_ui'>
<p>Reports</p>
still it is under development
</div>	
</div>	


{% endblock %}
