{% extends "base.html" %}
{% load cms_tags menu_tags %}
{% block page_contents %}
<!-- information about current user and logout option -->	
<span class ='pull-right welcomeinfo'>{{welcome_info}},<i>&#160;{{user.admin_name}}.</i>&#160;&#160;<a href = "{% url 'log_out'  user.id user.e_mail user.password position %}" >log out</a></span><hr><br>

<!--display options on admin userinterface-->

<table class = 'table' style = ''>
<thead>
<tr>
<!-- header in admin intaerface -->
<th>District water Engineer </th>
<th>COWSO chairperson</th>
<th>useful links</th>
</tr>
</thead>
<tbody>
<tr>
<!-- details about respectively header-->
<td class = 'datails_in_admin_ui'>
District water Engineer is one involving to add static infromation.<br>	
To add successful register new District water Engineer in the system :<br>
<ul>
<li>click link on "Register new District water Engineer" ,below</li>
<li>ill all information on the provided form</li>
<li>click "Register user" buttom to register new user or cancel to reset the form</li>
</ul>
<a href = "{% url 'createEngineer' user.id %}">Register new District water Engineer</a>
</td>
<td class = 'datails_in_admin_ui'>
COWSO chairperson is one involving to add dynamic infromation.<br>	
To add successful register new District water Engineer in the system :<br>
<ul>
<li>click link on "Register new COWSO chairperson", below</li>
<li>fill all information on the provided form</li>
<li>click "Register user" buttom to register new user or "Cancel" to reset the form</li>
</ul>
<a href = "{% url 'createChairperson' user.id %}">Register new COWSO chairperson</a>
</td>
<td>
<!-- useful links and report's links -->
hhdfhdfhfhfdh;f;fjjsjj;sjf;sofjlsjfjsofsjf
</td>

</tr>
</tbody>

</table>

{% endblock %}
