{% extends "base.html" %}
{% load cms_tags menu_tags %}
{% block page_contents %}
<!-- information about current user and logout option -->
<span class ='pull-right welcomeinfo'>{{welcome_info}} <i>,&#160;{{user.cowso_chairperson_name}}.</i>&#160;&#160;<a href = "{% url 'log_out' user.id user.e_mail user.password position %}" >log out</a></span><hr><br>
{% if waterpoint_update %}
<!-- info or error message during registration -->
<h4>{% if message or warning%}{{message}} <i ><span style = 'color:red';>{{warning}}</span></i></h4>
{% endif %}<br>
<!-- update form for water point status -->
<form action = "{% url 'update_waterpoint' user.id user_location %}" method = "POST" >
{% csrf_token %}
<!-- checking and display all water point for a particular COWSO chairperson-->	
{% for waterpoint in waterpoint_update %}
{{waterpoint}}
<!-- status choices -->
<select name = "status">
<option value = "">---------</option>
<option value = "functioning" name = "status" > functioning </option>
<option value = "non-functioning" name = "status" > non-functioning </option>
<option value = "need to repair" name = "status" > need to repair </option>
</select>
<br>
{% endfor %}
<input type = "submit" value = "update" name "update" />
<input type = "reset" value = "cancel" name "cancel" />
</form>
{% else %}
no water point to update
{% endif %}

{% endblock %}

