{% extends "base.html" %}
{% load cms_tags menu_tags %}

<!-- titlte -->
{% block tilte %}Registration{% endblock%}

{% block page_contents %}
<!-- back to admin home page-->
<span class ='pull-right welcomeinfo'>{{welcome_info}},<i>&#160;{{user.admin_name}}.</i>&#160;&#160;<a href = "{% url 'log_out' user.id user.e_mail user.password position %}">log out</a><br><a href = "{% url 'adminhome' user.id %}">back</a></span><br>
<hr>

<!-- info or error message during registration -->
{% if message or warning%}{{message}} <i ><span style = 'color:red';>{{warning}}</span></i>
{% else %}

<!-- header of registration form-->
Fill the form below, to register new District water Engineer
{% endif %}
<hr>

<!--registsration form for creating District water engineer-->
<form action "{% url 'createEngineer' user.id %}" method = "POST">
	{% csrf_token %}
<table align = 'center'>
<tr>
	<td id = 'field_name' >District water Engineer id &#160;&#160; </td>
	<td><input type = "text" name = "id" placeholder = "Enter his or her id" /></td>
</tr>

<tr>
	<td id = 'field_name' >District water Engineer name &#160;&#160; </td>
	<td><input type = "text" name = "name" placeholder = "Enter full name" /></td>
</tr>

<tr>
	<td id = 'field_name' >password &#160;&#160; </td>
	<td><input type = "password" name = "password" placeholder = "Enter his or her password" /></td>
</tr>

<tr>
	<td id = 'field_name' >E-mail &#160;&#160; </td>
	<td><input type = "text" name = "email" placeholder = "e-mail, example@abcd.com" /></td>
</tr>

<tr>
	<td id = 'field_name' >District &#160;&#160; </td>
	<td>
		<select name = 'district'>
			
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Arusha&#160;&#160;-----</option>
			{% for district in arusha %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Dar-es-salaam&#160;&#160;-----</option>
			{% for district in dar_es_salama %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Dodoma&#160;&#160;-----</option>
			{% for district in dodoma %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Geita &#160;&#160;-----</option>
			{% for district in geita %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Iringa &#160;&#160;-----</option>
			{% for district in iringa %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Kagera &#160;&#160;-----</option>
			{% for district in  kagera%}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Kaskazini Pemba&#160;&#160;-----</option>
			{% for district in kaskazini_Pemba %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;kaskazini Unguja &#160;&#160;-----</option>
			{% for district in kaskazini_unguja %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Katavi &#160;&#160;-----</option>
			{% for district in katavi %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Kigoma &#160;&#160;-----</option>
			{% for district in kigoma %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160; Kilimamjaro&#160;&#160;-----</option>
			{% for district in kilimanjaro %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Kusini Pemba &#160;&#160;-----</option>
			{% for district in kusini_pemba %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Kusini Unguja &#160;&#160;-----</option>
			{% for district in kusini_unguja %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Lindi &#160;&#160;-----</option>
			{% for district in lindi %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Manyara &#160;&#160;-----</option>
			{% for district in manyara %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Mara &#160;&#160;-----</option>
			{% for district in mara  %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Mbeya &#160;&#160;-----</option>
			{% for district in mbeya %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Morogoro &#160;&#160;-----</option>
			{% for district in morogoro %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Mtwara &#160;&#160;-----</option>
			{% for district in mtwara %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Mwanza &#160;&#160;-----</option>
			{% for district in mwanza %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Pwani &#160;&#160;-----</option>
			{% for district in pwani %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Rukwa &#160;&#160;-----</option>
			{% for district in rukwa %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Ruvuma &#160;&#160;-----</option>
			{% for district in ruvuma %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Shinyanga &#160;&#160;-----</option>
			{% for district in shinyanga %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Simiyu &#160;&#160;-----</option>
			{% for district in simiyu %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Singida &#160;&#160;-----</option>
			{% for district in singida %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Tabora &#160;&#160;-----</option>
			{% for district in tabora %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			<option name = 'district' value = ''>&#160;&#160;-----&#160;&#160;Tanga &#160;&#160;-----</option>
			{% for district in tanga %}
			<option name = 'district' value = '{{district}}'>{{district}}</option>
			{% endfor %}
			
		</select>	
	</td>
	<!--<td><input type = "text" name = "district" placeholder = "Enter District" /></td> -->
</tr>

<tr>
	<td id = 'field_name' >Region &#160;&#160; </td>
	<td><input type = "text" name = "region" placeholder = "Enter Region" /></td>
</tr>

<tr>
	<td id = 'field_name' >Address &#160;&#160; </td>
	<td><input type = "text" name = "address" placeholder = "Enter his or her address" /></td>
</tr>

<tr>
	<td id = 'field_name' >Telphone number &#160;&#160; </td>
	<td><input type = "text" name = "number" placeholder = "Enter telphone number" /></td>
</tr>	

<tr>
	<!-- gender: male or female-->
	<td id = 'field_name' >Sex &#160;&#160;</td>
	<td>
		<select name = 'sex'>
			<option name = 'sex' value = 'male'>male</option>
			<option name = 'sex' value = 'female'>female</option>
		</select>
	</td>
</tr>
</table>
<br>	

 
<input type = "submit" name = "submit" value = "Register user" />&#160;&#160;
<input type = "reset"  value = "Cancel" />
</form>

{% endblock %}
