{% extends "base.html" %}
{% load cms_tags menu_tags %}

{% block page_contents %}
<div class = 'row-fluid'>

<div class = 'well' style=' min-height: 100px;  padding-top: 10px; text-align:justfy;'>
<!--registsration form for creating COWSO chairperson-->
<span class="pull-right"><em>Date : {% now "jS F Y" %}</em></span>
<hr>
{{message}}
<hr>

<form action "{% url 'createChairperson' %}" method = "POST">
{% csrf_token %}

COWSO chairperson id : <input type = "text" name = "id" placeholder = "Enter his or her id" /><br>
COWSO chairperson name : <input type = "text" name = "name" placeholder = "Enter full name" /><br>
password : <input type = "password" name = "password" placeholder = "Enter his or her password" /><br>
E-mail : <input type = "text" name = "email" placeholder = "e-mail, example@abcd.com" /><br>
Address : <input type = "text" name = "address" placeholder = "Enter his or her address" /><br>
Telphone number : <input type = "text" name = "number" placeholder = "Enter telphone number" /><br>
location : <input type = "text" name = "location" placeholder = "Enter name of his or her physical location"/><br>
<!-- gender: male or female-->
Sex : 
	  <select name = 'sex'>
	  <option name = 'sex' value = 'male'>male</option>
	  <option name = 'sex' value = 'female'>female</option>
	  </select><br>>
<input type = "submit" name = "create user" value = "create user" />
<input type = "reset"  value = "cancel" />
</form>

</div>

</div>

{% endblock %}
