{% extends "base.html" %}
{% load cms_tags menu_tags %}
{% block page_contents %}

<!-- back to admin home page-->
<span class ='pull-right welcomeinfo'>{{welcome_info}},<i>&#160;{{user.admin_name}}.</i>&#160;&#160;<a href = "{% url 'log_out' user.id user.e_mail user.password position  %}" >log out</a><br><a href = "{% url 'adminhome' user.id %}">back</a></span><br>
<hr>

<!-- info or error message during registration -->
{% if message or warning%}{{message}} <i ><span style = 'color:red';>{{warning}}</span></i>
{% else %}

<!-- header of registration form-->
Fill the form below, to register new COWSO Chairperson
{% endif %}
<hr>

<!-- registration form for create new cowso chairperson -->
<form action "{% url 'createChairperson' user.id%}" method = "POST">
{% csrf_token %}
COWSO chairperson id : <input type = "text" name = "id" placeholder = "Enter his or her id" /><br>
COWSO chairperson name : <input type = "text" name = "name" placeholder = "Enter full name" /><br>
password : <input type = "password" name = "password" placeholder = "Enter his or her password" /><br>
E-mail : <input type = "text" name = "email" placeholder = "e-mail, example@abcd.com" /><br>
Address : <input type = "text" name = "address" placeholder = "Enter his or her address" /><br>
Telphone number : <input type = "text" name = "number" placeholder = "Enter telphone number" /><br>
location : <input type = "text" name = "location" placeholder = "Enter name of his or her physical location"/><br>
<!-- gender: male or female-->
Sex : 
	  <select name = 'sex'>
	  <option name = 'sex' value = 'male'>male</option>
	  <option name = 'sex' value = 'female'>female</option>
	  </select><br>
<input type = "submit" name = "create user" value = "submit" />
<input type = "reset"  value = "cancel" />
</form>


{% endblock %}
