{% extends "base.html" %}
{% load cms_tags menu_tags %}
{% block page_contents %}
<!-- information about current user and logout option -->	
<span class ='pull-right welcomeinfo'>{{message}}<i>,&#160;{{user.engineer_name}}<b>&#160;.</b></i>&#160;&#160;<a href = "" >log out</a></span><hr><br>

<!--links to the forms for add new waterpoint -->
<div class = "waterpointregform">
<a href = "{% url 'waterpointDetail' user.id %}">Create new water point</a><br>
<a href = "{% url 'waterpointPhotos'%}">add photos for water point</a>

</div>
</div>

</div>

{% endblock %}
