{% extends "base.html" %}
{% load cms_tags menu_tags %}

<!-- titlte -->
{% block tilte %}Log in{% endblock%}

<!-- contents for the login templates-->
{% block page_contents %}

<!-- login error message -->
<p style = 'color:red';><i>{{message}}</i></p>
<hr>

<!-- login form -->
<form action ="{% url 'authorize'%}" method="POST">
{% csrf_token %}	
<b>username :&#160;&#160;&#160;</b><input type = 'text' name = 'username' placeholder = 'enter your E-mail'/> <br>
<b>password :&#160;&#160;&#160;</b><input type = 'password' name = 'password' size = '20' placeholder = 'enter your password' /> <br><br>
<input type = 'submit' value = 'Login' name = 'login' />
</form>

{% endblock %}

