{% extends "base.html" %}
{% load cms_tags menu_tags %}
{% block tilte %}More details{% endblock%}

{% block page_contents %}
<!-- view details for COWSO chaiperson Water connection if request is from District water engineer -->
{% if position == 'engineer'%}
<!-- detail about current engineer -->
<span class ='pull-right welcomeinfo'>{{welcome_info}}<i>,&#160;{{user.engineer_name}}<b>&#160;.</b></i>&#160;&#160;<a href = "{% url 'log_out' user.id user.e_mail user.password position %}" >log out</a><br> <a href = "{% url 'engineerhome' user.id %}">back to home</a></span><br><hr>

<!-- cowso chairperson details -->
{% if detail == 'cowso_engineer' %}

<table class = "" align="center">
<tbody>	
<tr>
<td>cowso_id</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{cowso.id}}</td>
</tr>
<tr>
<td>cowso_chairperson_name</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{cowso.cowso_chairperson_name}}</td>
</tr>
<tr>
<td>password</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{cowso.password}}</td>
</tr>
<tr>
<td>e_mail</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{cowso.e_mail}}</td>
</tr>
<tr>
<td>telphone_number</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{cowso.telphone_number}}</td>
</tr>
<tr>
<td>address</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{cowso.address}}</td>
</tr>
<tr>
<td>district</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{cowso.district}}</td>
</tr>
<tr>
<td>region</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{cowso.region}}</td>
</tr>
<tr>
<td>physical_location_name</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{cowso.physical_location_name}}</td>
</tr>
<tr>
<td>sex</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{cowso.sex}}</td>
</tr>
<tr>
</tbody>

</table>

{% endif %}

<!-- water connection details -->
{% if detail == 'water_connection_engineer' %}
<!-- display static information for a given waterpoint -->
<p style = 'text-align:justify'></p>

<div class ="tabbable  ">
<ul class = "nav nav-tabs">

<li class = "span4 active" ><a href = "#tab1" data-toggle = "tab">Water Connection Details</a></li>
<li class = "span4" ><a href = "#tab2" data-toggle = "tab">Water connection Status history</a></li>
<li class = "span4"><a href = "#tab3" data-toggle = "tab">water connection photos</a></li>
</ul>
<div class = "tab-content">
<div class = "tab-pane  active" id = "tab1">
<p style = 'text-align:justify'>The followings are the static information or details concerned '{{water_connection}}' water connection</p><hr>
<table class = "table table-striped">
<tbody>	
<tr>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>	
<td>water connction code number</td>
<td>{{water_connection.code_number}}</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
</tr>
<tr>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>	
<td>water connection name</td>
<td>{{water_connection.name}}</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
</tr>
<tr>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>	
<td>source name</td>
<td>{{water_connection.source_name}}</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
</tr>
<tr>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>	
<td>supply connection category</td>
<td>{{water_connection.supply_connection}}</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
</tr>
<tr>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>district</td>
<td>{{water_connection.district}}</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
</tr>
<tr>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>	
<td>region</td>
<td>{{water_connection.region}}</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
</tr>
<tr>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>village or street</td>
<td>{{water_connection.physical_location_name}}</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
</tr>
<tr>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>	
<td>latitude</td>
<td>{{water_connection.latitude}}</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
</tr>
<tr>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>	
<td>longitude</td>
<td>{{water_connection.sex}}</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
</tr>
<tr>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>	
<td>fund</td>
<td>{{water_connection.fund}}</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
</tr>
<tr>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>	
<td>sponsor</td>
<td>{{water_connection.sponsor}}</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
</tr>	
</tbody>

</table>
</div>

<!-- displsy history of all status for a given waterpoint -->
<div class = "tab-pane " id = "tab2">
<p style = 'text-align:justify'>This is the history background for status upadted for '{{water_connection}}' water connection</p><hr>	
{%if statuslist %}
<table class = "table table-striped">
<tbody>
<thead>
<tr>	
<th>Status for water connection</th>
<th>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</th>
<th>Date and Time for status update</th>
</tr>
</thead>	
{% for status in statuslist %}
<tr>
<td>{{status}}</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{status.status_date_update}}</td>
</tr>
{% endfor %}
</tbody>
</table>
<br>
{% else %}
<p>Currently this water connection has not been updated</p>
{% endif %}		

</div>
<!-- display images or photos for a given water point -->
<div class = "tab-pane" id = "tab3">
{%if imagelist %}
<p style = 'text-align:justify'>The following are galllery  for '{{water_connection}}' water connection</p><hr>
{% for image  in imagelist%}
<div class = "span3" >
{{image.image_title}}<br>
<img src="{{ image.image.url }}" alt="{{image}}" ><br><br>
</div>

{% endfor %}
{% else %}
<p style = 'text-align:justify'>Currently, there is no gallery for '{{water_connection}}' water connection</p>
{% endif %}		
</div>
</div>
</div>

{% endif %}

{% endif %}

<!------------------ end for requests from the district water engineer -------------------->

<!-- view details for COWSO chaiperson Water connection if request is from the system administrator -->
{% if position == 'admin' %}


{% endif %}
{% endblock %}
