{% extends "base.html" %}
{% load cms_tags menu_tags %}
<!-- titlte -->
{% block tilte %}Reports{% endblock%}

<!-- report page -->
{% block page_contents %}
<div class = "report">

<!-- report : summary for District water engineer -->
{% if interface == 'engineerSummary' %}
<!-- information about current user and logout option -->	
<span class ='pull-right welcomeinfo'>{{welcome_info}}<i>,&#160;{{user.engineer_name}}<b>&#160;.</b></i>&#160;&#160;<a href = "{% url 'log_out' user.id user.e_mail user.password position %}" >log out</a><br> <a href = "{% url 'engineerhome' user.id %}">back</a></span><br><hr>
<!-- summary interface on Engineer -->

<div class ="tabbable  ">

<ul class = "nav nav-tabs" id ="tabs_header">

<li class = "span4 active" ><a href = "#tab1" data-toggle = "tab">Water Connections</a></li>
<li class = "span4" ><a href = "#tab2" data-toggle = "tab">COWSO Chairperson</a></li>
</ul>
<div class = "tab-content">
<div class = "tab-pane  active" id = "tab1">
<p class = 'uppercase'><u>summary for Water connection in {{user.district}} district:</u></p>
<p>In {{user.district}}, there are the following water connection types together with their corresponding number:-</p><hr>
<!--waterconnections:{{waterconnectionlist}}<br>-->
<table class="table table-striped">
<tr>
<th>Water Connection category</th>
<th>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</th>
<th>Number of water connections available</th>
</tr>
<tr>
<td>water point or kiosk</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{waterpoint_connection_no}}</td>
</tr>
<tr>
<td>domestic connection</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{domestic_connection_no}}</td>
</tr>
<tr>
<td>business connection</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{business_connection_no}} </td>
</tr>
<tr>
<td>institutional connection</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{institutional_connection_no}}</td>
</tr>
<tr>
<td>industrial connection</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{industrial_connection_no}}</td>
</tr>
<tr>
<td><b>total water connections</b></td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td><b>{{water_connections_total}}</b></td>
</tr>
</table >

</div>
<div class = "tab-pane " id = "tab2">
<p class = 'uppercase'><u>summary for cowso chairpersons in {{user.district}} district:</u></p>
<p>In {{user.district}}, depend on sex there are the following are statistics for COWSO chairpesons:-</p><hr>
<table class = "table table-striped">
<thead>
<th>Sex or Gender</th>
<th>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</th>
<th>Number of COWSO chaiperson</th>
</tr>
<tr>
</thead>

<tbody>	
<tr>
<td>Male</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{malecowso_number}}</td>
</tr>
<tr>
<td>Female</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{femalecowso_number}}</td>
</tr>
<tr>
<td><b>Total</b></td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td><b>{{total_cowso}}</b></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>


{% endif %}
<!-- ************************************ end report part **************************************** -->

<!-- report : water connections for District water engineer -->
{% if interface == 'engineerWaterConections' %}
<!-- information about current user and logout option -->	
<span class ='pull-right welcomeinfo'>{{welcome_info}}<i>,&#160;{{user.engineer_name}}<b>&#160;.</b></i>&#160;&#160;<a href = "{% url 'log_out' user.id user.e_mail user.password position %}" >log out</a><br> <a href = "{% url 'engineerhome' user.id %}">back</a></span><br><hr>
<!-- waterconnection interface on Engineer -->
<p class = 'uppercase'><u>Water connections in {{user.district}} district:</u></p>
<p style = 'text-align:justify;'>The following are list of names of all water connections in {{user.district}} district, depend on their connection category. To view more details for a given water connection click a given water connection</p><hr>
<div class ="tabbable  ">
<ul class = "nav nav-tabs" >

<li class = "span3 active" ><a href = "#tab1" data-toggle = "tab">water point or kiosk connection</a></li>
<li class = "span2" ><a href = "#tab2" data-toggle = "tab">domestic connection</a></li>
<li class = "span2"><a href = "#tab3" data-toggle = "tab">business connection</a></li>
<li class = "span2" ><a href = "#tab4" data-toggle = "tab">institutional connection</a></li>
<li class = "span2"><a href = "#tab5" data-toggle = "tab">industrial connection</a></li>
</ul>
<div class = "tab-content">
	
<div class = "tab-pane  active" id = "tab1">
{%if waterpoint_connection %}
{% for kiosk in waterpoint_connection%}
&#160;&#160;&#160;<a href ="{% url 'water_connection_details_from_engineer' user.id kiosk.id %}">{{kiosk}}</a><br>
{% endfor %}
{% else %}
<p>&#160;&#160;&#160;In {{user.district}} district, there  is no water connection of water point or kiosk connection category</p>
{% endif %}
</div>

<div class = "tab-pane " id = "tab2">
{%if domestic_connection %}
{% for domestic in domestic_connection%}
&#160;&#160;&#160;<a href ="{% url 'water_connection_details_from_engineer' user.id domestic.id  %}">{{domestic}}</a><br>
{% endfor %}
{% else %}
<p>&#160;&#160;&#160;In {{user.district}} district, there  is no water connection of domestic connection category </p>
{% endif %}	
</div>

<div class = "tab-pane" id = "tab3">
{%if business_connection %}
{% for business in business_connection%}
&#160;&#160;&#160;<a href ="{% url 'water_connection_details_from_engineer' user.id business.id %}">{{business}}</a><br>
{% endfor %}
{% else %}
<p>&#160;&#160;&#160;In {{user.district}} district, there  is no water connection of business connection category </p>
{% endif %}
</div>

<div class = "tab-pane " id = "tab4">
{%if institutional_connection %}
{% for institutional in institutional_connection%}
&#160;&#160;&#160;<a href ="{% url 'water_connection_details_from_engineer' user.id institutional.id  %}">{{institutional}}</a><br>
{% endfor %}
{% else %}
<p>&#160;&#160;&#160;In {{user.district}} district, there  is no water connection of institutional connection category </p>
{% endif %}		
</div>

<div class = "tab-pane" id = "tab5">
{%if industrial_connection %}
{% for industrial in industrial_connection%}
&#160;&#160;&#160;<a href ="{% url 'water_connection_details_from_engineer' user.id industrial.id %}">{{industrial}}</a><br>
{% endfor %}
{% else %}
<p>&#160;&#160;&#160;In {{user.district}} district, there  is no water connection of industrial connection category</p>
{% endif %}	
</div>

</div>
</div>
<hr>
<p>This part is still under develepment.....</p>
{% endif %}
<!-- ************************************ end report part **************************************** -->


<!-- report : COWSO Chairpersons for District water engineer -->
{% if interface == 'cowsoSummaryEngineer' %}
<!-- information about current user and logout option -->	
<span class ='pull-right welcomeinfo'>{{welcome_info}}<i>,&#160;{{user.engineer_name}}<b>&#160;.</b></i>&#160;&#160;<a href = "{% url 'log_out' user.id user.e_mail user.password position %}" >log out</a><br> <a href = "{% url 'engineerhome' user.id %}">back</a></span><br><hr>
<!-- COWSO chaiperson interface on Engineer -->
<p class = 'uppercase'><u>COWSO Chaipersons in {{user.district}} district:</u></p>
<p style = 'text-align:justify;'>The following are lists all COWSO chairpersons in {{user.district}} district, categorized depend on their gender or sex:-</p>
<hr>
<div class ="tabbable tabs-left ">
<ul class = "nav nav-tabs" >

<li class = "span4 active" ><a href = "#tab1" data-toggle = "tab">Male</a></li>
<li class = "span4" ><a href = "#tab2" data-toggle = "tab">Female</a></li>
</ul>
<div class = "tab-content">
	
<div class = "tab-pane  active" id = "tab1">
{%if cowsomalelist %}
{% for cowso  in cowsomalelist %}
&#160;&#160;&#160;<a href ="{% url 'cowso_details_from_engineer' user.id   cowso.id %}">{{cowso}}<br></a>
{% endfor %}
{% else %}
<p>In {{user.district}} district, there  is no male COWSO chairperson registered for update status of any water connection</p>
{% endif %}	
</div>

<div class = "tab-pane " id = "tab2">
{%if cowsofemalelist %}
{% for cowso  in cowsofemalelist %}
&#160;&#160;&#160;<a href ="{% url 'cowso_details_from_engineer' user.id cowso.id %}">{{cowso}}<br></a>
{% endfor %}
{% else %}
<p>In {{user.district}} district, there  is no female COWSO chairperson registered for update status of any water connection</p>
{% endif %}		
</div>

</div>
</div>
<!--
cowsolist :{{cowsolist}}<br>
-->
<p>This part is still under develepment.....</p>
{% endif %}
<!-- ************************************ end report part **************************************** -->


<!-- report : water connections for System Administrator -->
{% if interface == 'waterconnectionSummaryAdmin' %}
<!-- information about current user and logout option -->
<span class ='pull-right welcomeinfo'>{{welcome_info}},<i>&#160;{{user.admin_name}}.</i>&#160;&#160;<a href = "{% url 'log_out'  user.id user.e_mail user.password position %}" >log out</a><br><a href = "{% url 'adminhome' user.id %}">back</a></span><br>
<hr>
<p class = 'uppercase'><u>summary for water connection in the united republic of tanzania:</u></p>
<p style = 'text-align:justify;'>In summary, In summary, in <span style ='text-transform:capitalize;'><b>the united republic of tanzania</b></span>, there are the following water connections in statistics depening on their water connection category

 </p><hr>
<table class="table table-striped">
<tr>
<th>Water Connection category</th>
<th>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</th>
<th>Number of water connections available</th>
</tr>
<tr>
<td>water point or kiosk</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{waterpoint_connection_no}}</td>
</tr>
<tr>
<td>domestic connection</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{domestic_connection_no}}</td>
</tr>
<tr>
<td>business connection</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{business_connection_no}} </td>
</tr>
<tr>
<td>institutional connection</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{institutional_connection_no}}</td>
</tr>
<tr>
<td>industrial connection</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{industrial_connection_no}}</td>
</tr>
<tr>
<td><b>total water connections</b></td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td><b>{{water_connections_total}}</b></td>
</tr>
</table >

<hr>
<p>Searching forms</p>
<p>This part is still under develepment.....</p>
{% endif %}
<!-- ************************************ end report part **************************************** -->


<!-- report : COWSO Chairperson for System Administrator -->
{% if interface == 'cowsoSummaryAdmin' %}
<!-- information about current user and logout option -->
<span class = 'pull-right welcomeinfo'>{{welcome_info}},<i>&#160;{{user.admin_name}}.</i>&#160;&#160;<a href = "{% url 'log_out'  user.id user.e_mail user.password position %}" >log out</a><br><a href = "{% url 'adminhome' user.id %}">back</a></span><br>
<hr>
<p class = 'uppercase'><u>summary for cowso chairpersons in the united republic of tanzania:</u></p>
<p style = 'text-align:justify;'>In summary, in <span style='text-transform:capitalize;'><b>the united republic of tanzania</b></span>, the following is statistics about all COWSO chairpersons categorized dpending on sex or gender.
They responsible for update all water connections status in their particular street or village</p>
<hr>
<table class="table table-striped">
<thead>
<th>Sex or Gender</th>
<th>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</th>
<th>Number of COWSO chaiperson</th>
</tr>
<tr>
</thead>

<tbody>	
<tr>
<td>Male</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{cowsomale_no}}</td>
</tr>
<tr>
<td>Female</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{cowsofemale_no}}</td>
</tr>
<tr>
<td><b>Total</b></td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td><b>{{cowso_total}}</b></td>
</tr>
</tbody>
</table>

<hr>
<p>Searching forms</p>
<p>This part is still under develepment.....</p>
{% endif %}
<!-- ************************************ end report part **************************************** -->


<!-- report : District water Engineer for System Administrator -->
{% if interface == 'engineerSummaryAdmin' %}
<!-- information about current user and logout option -->
<span class ='pull-right welcomeinfo'>{{welcome_info}},<i>&#160;{{user.admin_name}}.</i>&#160;&#160;<a href = "{% url 'log_out'  user.id user.e_mail user.password position %}" >log out</a><br><a href = "{% url 'adminhome' user.id %}">back</a></span><br>
<hr>
<p class = 'uppercase'><u>summary for dostrict water engineer in the united republic of tanzania:</u></p>
<p style = 'text-align:justify;'>In summary, in <span style ='text-transform:capitalize;'><b>the united republic of tanzania</b></span>, the following is statistics about all District Water Engineer.
They responsible for register water connections depend on its category in their respective district including uploading photo or images for a given water connection.
The category of water connection can water point/kiosk or business or institutional or industrial or domestic connections.
</p>
<hr>
<table class="table table-striped">
<thead>
<th>Sex or Gender</th>
<th>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</th>
<th>Number of District Water Engineer</th>
</tr>
<tr>
</thead>

<tbody>	
<tr>
<td>Male</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{engineeermale_no}}</td>
</tr>
<tr>
<td>Female</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{engineeerfemale_no}}</td>
</tr>
<tr>
<td><b>Total</b></td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td><b>{{engineeer_total}}</b></td>
</tr>
</tbody>
</table>
<hr>

<p>Searching forms</p>
<p>This part is still under develepment.....</p>
{% endif %}
<!-- ************************************ end report part **************************************** -->

</div>
{% endblock%}
