{% extends "base.html" %}
{% load cms_tags menu_tags %}
<!-- titlte -->
{% block tilte %}Reports{% endblock%}

<!-- report page -->
{% block page_contents %}

<!-- report : summary for District water engineer -->
{% if interface == 'engineerSummary' %}
<!-- information about current user and logout option -->	
<span class ='pull-right welcomeinfo'>{{welcome_info}}<i>,&#160;{{user.engineer_name}}<b>&#160;.</b></i>&#160;&#160;<a href = "{% url 'log_out' user.id user.e_mail user.password position %}" >log out</a><br> <a href = "{% url 'engineerhome' user.id %}">back</a></span><br><hr>
<!-- summary interface on Engineer -->

<div class ="tabbable  ">

<ul class = "nav nav-tabs" id ="tabs_header">

<li class = "span4 active" ><a href = "#tab1" data-toggle = "tab">Water Connections</a></li>
<li class = "span4" ><a href = "#tab2" data-toggle = "tab">COWSO Chairperson</a></li>
</ul>
<div class = "tab-content">
<div class = "tab-pane  active" id = "tab1">
<p class = 'uppercase'><u>Water connection summary in {{user.district}} district:</u></p>
<p>In {{user.district}}, there are the following water connection types together with their corresponding number:-</p><br>
<!--waterconnections:{{waterconnectionlist}}<br>-->
<table class="table table-striped">
<tr>
<th>Water Connection category</th>
<th>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</th>
<th>Number of water connections available</th>
</tr>
<tr>
<td>water point or kiosk</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{waterpoint_connection_no}}</td>
</tr>
<tr>
<td>domestic connection</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{domestic_connection_no}}</td>
</tr>
<tr>
<td>business connection</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{business_connection_no}} </td>
</tr>
<tr>
<td>institutional connection</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{institutional_connection_no}}</td>
</tr>
<tr>
<td>industrial connection</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{industrial_connection_no}}</td>
</tr>
<tr>
<td><b>total water connections</b></td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td><b>{{water_connections_total}}</b></td>
</tr>
</table class="table table-striped">

</div>
<div class = "tab-pane " id = "tab2">
<p class = 'uppercase'><u>cowso chairperson summary in {{user.district}} district:</u></p>
<p>In {{user.district}}, depend on sex there are the following:-</p><br>
<table class="table table-striped">
<thead>
<th>Sex or Gender</th>
<th>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</th>
<th>Number of COWSO chaiperson</th>
</tr>
<tr>
</thead>

<tbody>	
<tr>
<td>Male</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{malecowso_number}}</td>
</tr>
<tr>
<td>Female</td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td>{{femalecowso_number}}</td>
</tr>
<tr>
<td><b>Total</b></td>
<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
<td><b>{{total_cowso}}</b></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>


{% endif %}

<!-- report : water connections for District water engineer -->
{% if interface == 'engineerWaterConections' %}
<!-- information about current user and logout option -->	
<span class ='pull-right welcomeinfo'>{{welcome_info}}<i>,&#160;{{user.engineer_name}}<b>&#160;.</b></i>&#160;&#160;<a href = "{% url 'log_out' user.id user.e_mail user.password position %}" >log out</a><br> <a href = "{% url 'engineerhome' user.id %}">back</a></span><br><hr>
<!-- waterconnection interface on Engineer -->
<p class = 'uppercase'><u>Water connections in {{user.district}} district:</u></p>
<p style = 'text-align:justify;'>The following are lists all water connections in {{user.district}} district, depend on their connection category:-</p><br>
<div class ="tabbable  ">
<ul class = "nav nav-tabs">

<li class = "span3 active" ><a href = "#tab1" data-toggle = "tab">water point or kiosk connection</a></li>
<li class = "span2" ><a href = "#tab2" data-toggle = "tab">domestic connection</a></li>
<li class = "span2"><a href = "#tab3" data-toggle = "tab">business connection</a></li>
<li class = "span2" ><a href = "#tab4" data-toggle = "tab">institutional connection</a></li>
<li class = "span2"><a href = "#tab5" data-toggle = "tab">industrial connection</a></li>
</ul>
<div class = "tab-content">
	
<div class = "tab-pane  active" id = "tab1">
{%if waterpoint_connection %}
{% for kiosk in waterpoint_connection%}
{{kiosk}}
{% endfor %}
{% else %}
<p>In {{user.district}} district, there  are no water connection of water point or kiosk connection category</p>
{% endif %}
</div>

<div class = "tab-pane " id = "tab2">
{%if domestic_connection %}
{% for domestic in domestic_connection%}
{{domestic}}
{% endfor %}
{% else %}
<p>In {{user.district}} district, there  are no water connection of domestic connection category </p>
{% endif %}	
</div>

<div class = "tab-pane" id = "tab3">
{%if business_connection %}
{% for business in business_connection%}
{{business}}
{% endfor %}
{% else %}
<p>In {{user.district}} district, there  are no water connection of business connection category </p>
{% endif %}
</div>

<div class = "tab-pane " id = "tab4">
{%if institutional_connection %}
{% for institutional in institutional_connection%}
{{institutional}}
{% endfor %}
{% else %}
<p>In {{user.district}} district, there  are no water connection of institutional connection category </p>
{% endif %}		
</div>

<div class = "tab-pane" id = "tab5">
{%if industrial_connection %}
{% for industrial in industrial_connection%}
{{industrial}}
{% endfor %}
{% else %}
<p>In {{user.district}} district, there  are no water connection of industrial connection category</p>
{% endif %}	
</div>

</div>
</div>

{% endif %}

<!-- report : COWSO Chairpersons for District water engineer -->
{% if interface == 'cowsoSummaryEngineer' %}
<!-- information about current user and logout option -->	
<span class ='pull-right welcomeinfo'>{{welcome_info}}<i>,&#160;{{user.engineer_name}}<b>&#160;.</b></i>&#160;&#160;<a href = "{% url 'log_out' user.id user.e_mail user.password position %}" >log out</a><br> <a href = "{% url 'engineerhome' user.id %}">back</a></span><br><hr>
<!-- COWSO chaiperson interface on Engineer -->
ok cowso report<br>
still under development - District water engineer part<br>
****************************************<br>
cowsolist :{{cowsolist}}<br>
cowsofemalelist : {{cowsofemalelist}}<br>
cowsomalelist :{{cowsomalelist}}


{% endif %}


<!-- report : water connections for System Administrator -->
{% if interface == 'waterconnectionSummaryAdmin' %}
<!-- information about current user and logout option -->
<span class ='pull-right welcomeinfo'>{{welcome_info}},<i>&#160;{{user.admin_name}}.</i>&#160;&#160;<a href = "{% url 'log_out'  user.id user.e_mail user.password position %}" >log out</a><br><a href = "{% url 'adminhome' user.id %}">back</a></span><br>
<hr>
ok water connection report<br>
still under development - System admin 
{% endif %}

<!-- report : COWSO Chairperson for System Administrator -->
{% if interface == 'cowsoSummaryAdmin' %}
<!-- information about current user and logout option -->
<span class ='pull-right welcomeinfo'>{{welcome_info}},<i>&#160;{{user.admin_name}}.</i>&#160;&#160;<a href = "{% url 'log_out'  user.id user.e_mail user.password position %}" >log out</a><br><a href = "{% url 'adminhome' user.id %}">back</a></span><br>
<hr>
ok cowso report<br>
still under development - System admin 

{% endif %}

<!-- report : District water Engineer for System Administrator -->
{% if interface == 'engineerSummaryAdmin' %}
<!-- information about current user and logout option -->
<span class ='pull-right welcomeinfo'>{{welcome_info}},<i>&#160;{{user.admin_name}}.</i>&#160;&#160;<a href = "{% url 'log_out'  user.id user.e_mail user.password position %}" >log out</a><br><a href = "{% url 'adminhome' user.id %}">back</a></span><br>
<hr>
ok engineer report<br>
still under development - System admin 

{% endif %}

{% endblock%}
