{% extends "base.html" %}
{% load cms_tags menu_tags %}

{% block page_contents %}
<div class = 'row-fluid'>

<div class = 'well' style=' min-height: 100px;  padding-top: 10px; text-align:justfy;'>
{{message}}<br>

{% if position == 'admin'%}
<!-- codes for user interface for System admin of the system -->
welcome admin
{% else %}

{% if position  == 'engineer'%}
<!-- codes for user interface of District water engnieer -->
welcome engineer
{%else%}

{% if position == 'cowso chairperson'%}
<!-- codes for user interface of COWSO chairperson -->
welcome cowso chairperson
{%endif%}
{% endif %}
{%endif%}
</div>

</div>

{% endblock %}
