{% extends "base.html" %}
{% load cms_tags menu_tags %}

<!-- titlte -->
{% block tilte %}Registration{% endblock%}

{% block page_contents %}
<!-- detail about current engineer -->
<span class ='pull-right welcomeinfo'>{{welcome_info}}<i>,&#160;{{user.engineer_name}}<b>&#160;.</b></i>&#160;&#160;<a href = "{% url 'log_out' user.id user.e_mail user.password position %}" >log out</a><br> <a href = "{% url 'engineerhome' user.id %}">back</a></span><br><hr>
<!-- info or error message during registration -->
 <i >{{message}}</i><br><br>

<!-- form for creating all descrption of water point-->
<form action ="{% url 'waterpointDetail' user.id %}" method="POST">
{% csrf_token %}	
<div style = "text-align:center; ">
<table align="center">
{{ form.as_table}}
</table>
<br>
<input type = 'submit' value = "Register" name = "submit">&#160;&#160;
<input type = "reset" value = "Cancel">
</div>
</form>


{% endblock %}
