{% extends "base.html" %}
{% load cms_tags menu_tags %}
{% block page_contents %}
<!-- detail about current engineer -->
<span class ='pull-right welcomeinfo'>{{welcome_info}}<i>,&#160;{{user.engineer_name}}<b>&#160;.</b></i>&#160;&#160;<a href = "{% url 'log_out' user.id user.e_mail %}" >log out</a><br> <a href = "{% url 'engineerhome' user.id %}">back</a></span><br><hr>
{{message}}<hr>

<hr>
{{result}}
<hr>
<br>

<!-- form to upload image for a give water point-->
<form action = "{% url 'waterpointPhotos'%}" method = "POST">
{% csrf_token %}
<table align = "center">
<tr>
<td style ="padding-right:5px;">
Image:
</td>

<td style ="padding-left:5px;"><input type = "file" name = "image"></td>
</tr>
</table>
<br>
<td><input type = "submit" value = "save" name = "submit"></td>
<td><input type = "reset" value = "cancel" name = "reset"></td>
</form>


</div>
</div>

{% endblock %}
